*{
  margin: 0;
  padding: 0;
}
.navbar-sticky{
  position: sticky;
  top: 0rem;
  z-index: 1000;
}
nav {
  background-color: #333;
  padding: 0.5rem;
}
.portfolio-name{
  color: white;
}
ul {
  list-style-type: none;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
h1{
  margin-right: auto;
}
li {
  display: inline;
  margin-left: 5rem;
}
.MenuItems{
  color: white;
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}
.MenuItems:hover{
  color: yellow;
  padding: 0.5rem;
  border-bottom: 1px solid yellow;
}


/*Home.js*/
.additional-section {
  display: flex;
  height: 15rem;
  margin: 100px;
  gap: 300px;
  justify-content: space-around;
}
.greeting {
  height: 70vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.greeting h1{
  font-size: 60px;
  color: black;
  
}
.greeting span{
  display: inline-block;
  color: blue;
}
.fadein{
  opacity: 0;
  animation: fadeIn 3s forwards;
}
.profile-photo img {
  width: 600px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.icons{
  display: flex;
  padding-top: 10px;
  gap: 20px;
}
.contact-btn button {
  background-color: #007bff; 
  color: white;
  margin-top: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.contact-btn button:hover{
  background-color: rgb(94, 87, 255);
}
.profile-photo img:hover {
  transform: scale(1.2); 
}

/* About.js*/
.about-img img{
  border-radius: 20px;
}
.About {
  display: flex;
  gap: 200px;
  margin-left: 80px;
  padding-top: 50px;
  height: 350px;
}
.Descr h1{
  color: #000;
}
.Descr p{
  line-height: 2.0;
}
.Descr .Bio{
  font-size: larger;
  display: inline-block;
  width: 650px;
  height: 50px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

/*Skills*/
.Skills{
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
  justify-content: space-around;
}
.skillsbio{
  display: inline-block;
  width: 600px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: larger;
  line-height: 2.0;
}
.List{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Data{
  width: calc(30% - 15px); 
  height: 50px;
  margin-bottom: 10px; 
  box-sizing: border-box;
  border: 1px solid #ccc; 
}

/*Projects*/
.project{
height: 280px;
margin-left: 70px;
display: flex;
justify-content: space-around;
}
.project a{
  transition: transform 0.3s ease;
}
.Project-Names{
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
}
.project img{
  border-radius: 10px;
}
.project img:hover{
  border-radius: 20px;
  transform: scale(1.2); 
}

/*Contact*/
.Contact{
  height: 400px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.getTouch{
  display: inline;
  width: 500px;
  height: 500px;
  line-height: 1.5;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.Feedback{
  padding: 10px;
}
.Feedback input {
  display: flex;
  width: 300px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid black;
  padding-left: 5px;
}
.Feedback .Emailinput{
  margin: 20px 0px 20px 0px;
}
.Feedback textarea{
  border-radius: 7px;
  border: 1px solid black;
  padding-left: 5px;
}
button{
  margin-top: 10px;
  padding: 10px;
  background-color: blue;
  border-radius: 20%;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}
button:hover{
  cursor: pointer;
  background-color: green;
}

/*Footer.js*/
.Footer{
  height: 200px;
  background-color: black;
  color: white;
}
.copyright{
  margin-top: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright h2{
  margin-bottom: 30px;
}
.footericons{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
